<script>
	export let data;
	let pos = data.tactics.articles.map((p) => p.slug).indexOf(data.slug);
</script>

<article class="px-6 py-8 lg:px-8 max-w-4xl mx-auto">
	<div class="relative flex flex-col md:flex-row">
		<div class="md:pr-6 md:pt-16">
			<Share frontmatter={data.article} content_type="tactic" />
		</div>
		<div class="max-w-3xl text-base leading-7 text-gray-700">
			<h1 class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">
				Tactic - "{data.article.title}"
			</h1>
			{#if data.article.author}
				<div class="py-4">
					<AuthorInfo post={data.article} />
				</div>
			{/if}
			{#if data.article.summary}
				<p class="mb-6 text-xl leading-8">{data.article.summary}</p>
			{/if}
			{#if data.article.image}
				<!-- Tactic Featured Image -->
				<img
					class="aspect-video rounded-xl bg-gray-50 object-cover"
					src="https://tgdp-assets.imgix.net/{data.article
						.image}?w=768&ar=16:9&fit=crop&crop=faces,center&q=80&auto=compress,format"
					alt={data.article.alt}
				/>
			{/if}
			<div class="prose max-w-3xl">
				{@html data.article.html}
			</div>
			<hr class="w-25 pt-4 my-0 mx-auto" />
			<!-- Author Follow Information -->
			<AuthorFollow authors={data.article.authors} />
			<!-- Article Copyright/License -->
			<ArticleCopyrightLicense authors={data.article.authors} frontmatter={data.article} />

			<!-- Article Tags -->
			{#if data.article.tags}
				<div class="my-4 flex items-center gap-x-4 text-xs">
					{#each data.article.tags as tag}
						<a
							href="/tactic/tag/{encodeURI(tag)}"
							class="relative z-10 rounded-full hover:drop-shadow bg-tgdp-eastern-blue px-3 py-1.5 font-medium text-white"
						>
							{tag}
						</a>
					{/each}
				</div>
			{/if}
			<!-- End Tags -->

			<div class="w-full prose max-w-none pt-8">
				<h2>Continue Reading</h2>
				<!-- Next and PrevPage inside current section -->
				<div class="w-full flex justify-between items-center not-prose">
					{#if pos > 0}
						<a
							class="block text-left w-full"
							rel="external"
							href="/tactic/{data.tactics[pos - 1].slug}"
						>
							<div class="flex flex-row items-center font-bold">
								<div class="pr-4 text-xl">↑</div>
								<div>
									{data.tactics[pos - 1].title}
								</div>
							</div>
						</a>
					{:else}
						<div class="block text-left w-full">
							<em>First Tactic in Series</em>
						</div>
					{/if}

					{#if pos < data.tactics.length - 1}
						<a
							class="flex justify-end w-full"
							rel="external"
							href="/tactic/{data.tactics[pos + 1].slug}"
						>
							<div class="flex flex-row items-center font-bold">
								<div class="text-right">
									{data.tactics[pos + 1].title}
								</div>
								<div class="pl-4 text-xl">↓</div>
							</div>
						</a>
					{:else}
						<div class="block text-right w-full">
							<em>Last Tactic in Series</em>
						</div>
					{/if}
					<div class="clearfix"></div>
				</div>
				<!-- End Next and PrevPage -->
			</div>
		</div>
	</div>
</article>
