<script>
  import CardBlog from '$lib/components/CardBlog.svelte'
	export let data;
</script>

<svelte:head>
	<title>The Good Docs Project Blog</title>
	<meta name="description" content="The Good Docs Project Blog landing page." />
</svelte:head>

<div class="bg-white px-6 py-8 lg:px-8 mx-auto">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto max-w-2xl text-center prose">
      <h2 class="not-prose text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">The Good Docs Project Blog</h2>
      <p class="mt-2 text-lg leading-8 text-gray-600">Tech writers around the globe providing advice and their experiences.</p>
    </div>
    <div class="mx-auto mt-16 grid grid-cols-1 gap-x-8 gap-y-12 md:grid-cols-2 md:mx-0 md:max-w-none xl:grid-cols-3">
      {#each data.blogs.posts as post}
      <CardBlog {post} />
      {/each}
    </div>
  </div>
</div>
