<script>
  import CardTactic from '$lib/components/CardTactic.svelte'
	export let data;
</script>

<svelte:head>
	<title>Tactics tagged with '{data.tag}'</title>
	<meta name="description" content="A filtered view of The Good Docs Project Tactics that are tagged with '{data.tag}'." />
</svelte:head>

<div class="bg-white px-6 py-8 lg:px-8 mx-auto">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto max-w-2xl text-center">
      <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Tactics tagged with '{data.tag}'</h2>
      <p class="mt-2 text-lg leading-8 text-gray-600 prose max-w-none">Visit the <a href="/tactic">Tactic landing page</a> to see all tactic articles.</p>
    </div>
    <div class="mx-auto mt-16 grid grid-cols-1 gap-x-8 gap-y-12 md:grid-cols-2 md:mx-0 md:max-w-none xl:grid-cols-3">
      {#each data.articles as tactic}
      <CardTactic {tactic} />
      {/each}
    </div>
  </div>
</div>