<script>
  import { compare_tag_count } from '$lib/utils.js'
  export let data;
</script>

<svelte:head>
	<title>The Good Docs Project Blog Tags</title>
	<meta name="description" content="The Good Docs Project Blog Tags" />
</svelte:head>

<div class="bg-white px-6 py-8 lg:px-8 mx-auto">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto max-w-2xl text-center">
      <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">The Good Docs Project Blog Tags</h2>
      <p class="mt-2 text-lg leading-8 text-gray-600">All tags from blog posts, ordered by frequency.</p>
    </div>
    <div class="prose mx-auto w-full pt-4">
      <table>
        <thead>
          <tr>
            <th>Tag</th>
            <th>Count</th>
          </tr>
        </thead>
        {#each data.blogs.tags.sort(compare_tag_count) as tag}
        <tr>
          <th><a href="/blog/tag/{tag.text}">{tag.text}</a></th>
          <td class="text-center">{tag.count}</td>
        </tr>
        {/each}
      </table>
    </div>
  </div>
</div>