<script>
  import CardTactic from '$lib/components/CardTactic.svelte'
	export let data;
</script>

<svelte:head>
	<title>The Good Docs Project Tactics</title>
	<meta name="description" content="The Good Docs Project Tactics landing page." />
</svelte:head>

<div class="bg-white px-6 py-8 lg:px-8 mx-auto">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto max-w-2xl text-center prose">
      <h2 class="not-prose text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">The Good Docs Project Tactics</h2>
      <p class="mt-2 text-lg leading-8 text-gray-600">Articles that provide guidance and best practices on a variety of topics.</p>
    </div>
    <div class="mx-auto mt-16 grid max-w-2xl grid-cols-1 gap-x-8 gap-y-12 md:grid-cols-2 md:mx-0 md:max-w-none xl:grid-cols-3">
      {#each data.tactics.articles as tactic}
        <CardTactic {tactic} />
      {/each}
    </div>
  </div>
</div>