<div class="grid grid-cols-1 grid-rows-[1fr,auto,1fr] bg-white lg:grid-cols-[max(50%,36rem),1fr]">
  <main class="mx-auto w-full max-w-7xl px-6 py-24 sm:py-32 lg:col-span-2 lg:col-start-1 lg:row-start-2 lg:px-8">
    <div class="max-w-lg">
      <p class="text-base font-semibold leading-8 text-tgdp-disco">404</p>
      <h1 class="mt-4 text-3xl font-bold tracking-tight text-tgdp-blue sm:text-5xl">Page not found</h1>
      <p class="mt-6 text-base leading-7 text-gray-600">Sorry, we couldn't find the page you're looking for.</p>
      <div class="mt-10">
        <a href="/" class="text-sm font-semibold leading-7 text-tgdp-disco"><span aria-hidden="true">&larr;</span> Back to home</a>
      </div>
    </div>
  </main>
  <div class="relative col-start-2 row-start-1 row-end-4 block">
    <img src="https://images.unsplash.com/photo-1470847355775-e0e3c35a9a2c?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1825&q=80" alt="" class="absolute inset-0 h-full w-full object-cover object-bottom">
  </div>
</div>
