<script>
	export let data;
</script>

<svelte:head>
	<link
		rel="stylesheet"
		href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
		integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
		crossorigin="anonymous"
	/>
</svelte:head>

<div class="bg-white px-6 py-8 lg:px-8 max-w-3xl mx-auto">
	<div class="text-gray-700 flex flex-col items-center space-y-4">
		{#if data.post.image}
			<!-- Post Featured Image -->
			<img
				class="rounded-full object-cover max-w-sm border"
				src="https://tgdp-assets.imgix.net/{data.post.image}?w=384&auto=compress,format"
				alt="Image of {data.post.name}"
				title={data.post.name}
			/>
		{/if}
		<h1 class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">
			{data.post.name}
		</h1>
		{#if data.post.description}
			<p class="mb-6 text-xl leading-8">{data.post.description}</p>
		{/if}
		<div class="flex flex-row space-x-4 items-center">
			{#if data.post.email}
				<a href="mailto:{data.post.email}"><i class="fas fa-envelope text-lg"></i></a>
			{/if}
			{#if data.post.web}
				<a href={data.post.web}><i class="fas fa-globe text-lg"></i></a>
			{/if}
			{#if data.post.social.linkedin}
				<a href="https://www.linkedin.com/{data.post.social.linkedin}/"
					><i class="fab fa-linkedin text-lg"></i></a
				>
			{/if}
			{#if data.post.social.github}
				<a href="https://github.com/{data.post.social.github}/"
					><i class="fab fa-github text-lg"></i></a
				>
			{/if}
			{#if data.post.social.gitlab}
				<a href="https://gitlab.com/{data.post.social.gitlab}/"
					><i class="fab fa-gitlab text-lg"></i></a
				>
			{/if}
			{#if data.post.social.medium}
				<a href="https://medium.com/{data.post.social.medium}/"
					><i class="fab fa-medium text-lg"></i></a
				>
			{/if}
			{#if data.post.social.x}
				<a href="https://x.com/{data.post.social.x}/"
					><svg class="h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"
						><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path
							d="M389.2 48h70.6L305.6 224.2 487 464H345L233.7 318.6 106.5 464H35.8L200.7 275.5 26.8 48H172.4L272.9 180.9 389.2 48zM364.4 421.8h39.1L151.1 88h-42L364.4 421.8z"
						/></svg
					></a
				>
			{/if}
			{#if data.post.social.instagram}
				<a href="https://www.instagram.com/{data.post.social.instagram}/"
					><i class="fab fa-instagram text-lg"></i></a
				>
			{/if}
		</div>
	</div>
	<div class="text-gray-700 flex flex-col space-y-4 prose max-w-none">
		{#if data.post.html}
			<div class="max-w-none">
				{@html data.post.html}
			</div>
		{/if}
		{#if data.post.follow}
			<h2>Follow</h2>
			<div class="max-w-none">
				{@html data.post.follow}
			</div>
		{/if}
		<!-- Article Copyright/License -->
		<ArticleCopyrightLicense authors={data.post.authors} frontmatter={data.post} />

		<!-- Post Tags -->
		{#if data.post.tags}
			<div class="my-4 flex items-center gap-x-4 text-xs">
				{#each data.post.tags as tag}
					<a
						href="/blog/tag/{encodeURI(tag)}"
						class="relative z-10 rounded-full hover:drop-shadow bg-tgdp-eastern-blue px-3 py-1.5 font-medium text-white"
					>
						{tag}
					</a>
				{/each}
			</div>
		{/if}
		<!-- End Tags -->
	</div>
</div>
