<script>
	import CardTemplate from '$lib/components/CardTemplate.svelte';

	export let data;
</script>

<svelte:head>
	<title>The Good Docs Project Template Guides</title>
	<meta name="description" content="Guides to all Templates developed by The Good Docs Project." />
</svelte:head>

<div class="bg-white px-6 py-8 lg:px-8 max-w-7xl mx-auto">
	<div class="mx-auto max-w-7xl px-6 lg:px-8">
		<div class="mx-auto max-w-2xl text-center">
			<h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">
				The Good Docs Project Templates
			</h2>
			<p class="text-lg leading-8 text-gray-600 mt-0">
				Guides to all Templates ({data.templates.tag}) developed by The Good Docs Project.
			</p>
		</div>
		<div class="prose max-w-none mb-8">
			<h2>Core Pack</h2>
			<p>
				The core documentation pack is our flagship template pack and it includes the core,
				fundamental content types that every documentation project needs. If you download one
				template pack for your project, it should be this one.
			</p>
			<details class="mb-4">
				<summary class="w-full bg-gray-300 px-2 py-1 rounded-lg"
					>See all Core pack templates...</summary
				>
				<div class="mt-4 grid grid-cols-1 gap-4 sm:grid-cols-2 md:grid-cols-3 not-prose">
					{#each data.templates.template_data as template}
						{#if template.packs.indexOf('core') > -1}
							<CardTemplate {template} />
						{/if}
					{/each}
				</div>
			</details>
		</div>
		<div class="prose max-w-none mb-8">
			<h2>Community Pack</h2>
			<p>
				The open source community docs template pack includes the fundamental content types that
				every open source project needs to have a healthy and productive community.
			</p>
			<details>
				<summary class="w-full bg-gray-300 px-2 py-1 rounded-lg"
					>See all Community pack templates...</summary
				>
				<div class="mt-4 grid grid-cols-1 gap-4 sm:grid-cols-2 md:grid-cols-3 not-prose">
					{#each data.templates.template_data as template}
						{#if template.packs.indexOf('community') > -1}
							<CardTemplate {template} />
						{/if}
					{/each}
				</div>
			</details>
		</div>
		<div class="prose max-w-none">
			<h2>All Templates</h2>
			<p>Below you will find all templates in alphabetical order.</p>
			<div class="mt-4 grid grid-cols-1 gap-4 sm:grid-cols-2 md:grid-cols-3 not-prose">
				{#each data.templates.template_data as template}
					<CardTemplate {template} />
				{/each}
			</div>
		</div>
	</div>
</div>
