<script>
  import Announce from "$lib/components/Announce.svelte";
  import Content from "$lib/components/Content.svelte";
  import ContentWithImage from "$lib/components/ContentWithImage.svelte";
  import Hero from "$lib/components/Hero.svelte";
  import SplitWithImage from "$lib/components/SplitWithImage.svelte";
  import Simple3ColumnWithLargeIcons from "$lib/components/Simple3ColumnWithLargeIcons.svelte";
  import Steps from "$lib/components/Steps.svelte";
  import SubNav from "$lib/components/SubNav.svelte";
  import TestimonialWithOverlappingImage from "$lib/components/TestimonialWithOverlappingImage.svelte";

  let blocks = [
    { ref: "announce", component: Announce },
    { ref: "content", component: Content },
    { ref: "content_with_image", component: ContentWithImage },
    { ref: "hero", component: Hero },
    { ref: "split_with_image", component: SplitWithImage },
    { ref: "simple_3_column_with_large_icons", component: Simple3ColumnWithLargeIcons },
    { ref: "steps", component: Steps },
    { ref: "subnav", component: SubNav },
    { ref: "testimonial_with_overlapping_image", component: TestimonialWithOverlappingImage }
  ];
  
  export let data;
</script>

<div class="flex flex-col">
  {#each data.frontmatter.blocks as block}
    {#if block && (block.block_ref == "content" || block.block_ref == "content_with_image")}
      <svelte:component 
        this={blocks.find((obj) => obj.ref === block.block_ref).component}
        block={block} data={data}
      />
    {:else if block && block.block_ref != "content"}
      <svelte:component
        this={blocks.find((obj) => obj.ref === block.block_ref).component}
        block={block}
      />
    {/if}
  {/each}
</div>