<script>
	import Blocks from '$lib/layouts/Blocks.svelte';
	export let data;
  let page_title = data.attributes.doctitle ? data.attributes?.doctitle : data.frontmatter.title;
  let page_summary = data.attributes.summary ? data.attributes?.summary : data.frontmatter.summary;
</script>

<svelte:head>
	<title>{page_title}</title>
	<meta name="description" content={page_summary} />
</svelte:head>

{#if data.frontmatter.layout == 'blocks'}
	<Blocks {data} />
{:else}
	Blocks have not been defined for this page.
{/if}