<script>
  export let block
</script>

<section class="bg-gray-50 py-32 px-8 prose max-w-none">
  <div class="md:max-w-3xl mx-auto text-center">
    <span class="block text-tgdp-blue text-4xl font-extrabold mt-0 mb-4">{block?.title}</span>
    {#if block.subtitle}
    <span class="block text-2xl font-bold mt-8 mb-4">{block.subtitle}</span>  
    {/if}
  </div>
</section>
