<script>
  export let frontmatter
  export let authors
</script>

<div class="mb-5 prose">
  {#if frontmatter.custom_copyright }
    <p>
    {@html frontmatter.custom_copyright}
    </p>
  {:else }
    {#if authors }
      <p>Text of article &copy;{new Date().toLocaleString("en-US", {timeZone:'UTC', year:'numeric'})}
      {#each authors as author, i}
        {#if (i>0)},&nbsp;{/if}<span class="post-name"><a href="/author/{author.id}">{author.name}</a></span>
      {/each}
      </p>
    {/if}
  {/if}
  {#if frontmatter.custom_license }
    <span>{@html frontmatter.custom_license}</span>
  {:else }
    <span>Released under <a href="https://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International (CC BY 4.0)</a></span>
  {/if}
</div>