<script>
  export let authors;
</script>

{#if authors }
<div class="flex flex-col space-y-2 mb-4">
  {#each authors as author }
  <div class="flex flex-row space-x-2 items-center">
    {#if author.image}
    <a href="/author/{author.id}">
      <img src="https://tgdp-assets.imgix.net/{author.image}?auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="Image of {author.name}" title={author.name} class="h-10 w-10 rounded-full bg-gray-100 border">
    </a>
    {/if}
    {#if author.follow}
    <div class="prose">
      {@html author.follow}
    </div>
    {/if}
  </div>
  {/each}
</div>
{/if}