<script>
	export let template;
</script>

<article class="flex flex-col items-start not-prose">
	<div class="max-w-xl h-full flex flex-col border rounded-lg p-4">
		<div class="group relative flex flex-col h-full flex-grow">
			<a href="/template/{template.slug}">
				<h3
					class="text-xl font-bold leading-6 text-tgdp-blue group-hover:text-tgdp-disco flex-grow-0"
				>
					{template.name}
				</h3>
				<p class="mt-4 line-clamp-3 text-sm leading-6 text-gray-600 mb-auto">{template.summary}</p>
			</a>
			{#if template.authors}
				<div class="mt-2 flex flex-wrap justify-between space-y-1">
					{#each template.authors as author, i}
						<div class="flex flex-row items-center space-x-2">
							<img
								src="https://tgdp-assets.imgix.net/{author.image}?fit=facearea&facepad=2&w=256&h=256&q=80&auto=format,compress"
								alt=""
								class="h-10 w-10 rounded-full bg-gray-100 border"
							/>
							<a
								href="/author/{author.id}"
								class="inline-block text-sm font-semibold text-gray-900 whitespace-nowrap"
							>
								{author.name}
							</a>
						</div>
					{/each}
					<div class="flex-grow-1"></div>
				</div>
			{/if}
			<div class="mt-2 text-sm text-gray-400 flex flex-wrap items-center">
				{#if template.date}
					<div class="flex flex-row items-center mr-4">
						<svg
							xmlns="http://www.w3.org/2000/svg"
							fill="none"
							viewBox="0 0 24 24"
							stroke-width="1.5"
							stroke="currentColor"
							class="w-4 h-4 mr-2"
						>
							<path
								stroke-linecap="round"
								stroke-linejoin="round"
								d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 0 1 2.25-2.25h13.5A2.25 2.25 0 0 1 21 7.5v11.25m-18 0A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75m-18 0v-7.5A2.25 2.25 0 0 1 5.25 9h13.5A2.25 2.25 0 0 1 21 11.25v7.5"
							/>
						</svg>
						<span class="whitespace-nowrap">
							{template.date}{#if template.lastmod}, <span class="text-nowrap"
									>updated {template.lastmod}</span
								>{/if}
						</span>
					</div>
				{/if}
			</div>
		</div>
		<div class="mt-4 flex items-center gap-x-4 text-xs flex-grow-0">
			{#each template.packs as pack}
				<a
					class="relative z-10 rounded-full hover:drop-shadow bg-tgdp-eastern-blue px-4 py-2 font-medium text-white"
					target="_blank"
					href="https://gitlab.com/tgdp/templates#{pack == 'core'
						? 'core-documentation-template-pack'
						: pack == 'community'
							? 'open-source-community-docs-template-pack'
							: pack == 'misc'
								? 'miscellaneous-documentation-template-pack'
								: 'the-good-docs-project-templates'}"
				>
					{pack}
				</a>
			{/each}
		</div>
	</div>
</article>
