<script>
  export let data;
  export let block;
</script>

<article class="w-full max-w-3xl mx-auto py-8 px-6 prose text-lg md:text-base md:max-w-3xl lg:px-8">
  <h1>{block.title}</h1>
  <div class="html-content">
    {@html data?.html}
  </div>
</article>