<script>
import navMenu from "$lib/navMenu.json";
</script>

<footer class="bg-gray-100">
  <div class="mx-auto max-w-7xl overflow-hidden px-6 py-20 sm:py-24 lg:px-8">
    <nav class="-mb-6 columns-2 sm:flex sm:justify-center sm:space-x-12" aria-label="Footer">
      {#each navMenu.footer as item}
      <div class="pb-6">
        <a data-sveltekit-reload href="{item.url}" class="text-sm leading-6 text-gray-600 hover:text-tgdp-blue">{item.text}</a>
      </div>
      {/each}
    </nav>
    <div class="mt-10 flex justify-center space-x-10">
      <a href="https://www.linkedin.com/company/the-good-docs-project" class="text-gray-400 hover:text-gray-500">
        <span class="sr-only">LinkedIn</span>
        <svg class="h-6 w-6" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true">
          <path d="M19 0h-14c-2.761 0-5 2.239-5 5v14c0 2.761 2.239 5 5 5h14c2.762 0 5-2.239 5-5v-14c0-2.761-2.238-5-5-5zm-11 19h-3v-11h3v11zm-1.5-12.268c-.966 0-1.75-.79-1.75-1.764s.784-1.764 1.75-1.764 1.75.79 1.75 1.764-.783 1.764-1.75 1.764zm13.5 12.268h-3v-5.604c0-3.368-4-3.113-4 0v5.604h-3v-11h3v1.765c1.396-2.586 7-2.777 7 2.476v6.759z"/>
        </svg>
      </a>
      <a href="https://gitlab.com/tgdp" class="text-gray-400 hover:text-gray-500">
        <span class="sr-only">GitLab</span>
        <svg xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-brand-gitlab h-6 w-6">
          <path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M21 14l-9 7l-9 -7l3 -11l3 7h6l3 -7z" /></svg>
      </a>
      <a href="https://www.youtube.com/@thegooddocsproject7199" class="text-gray-400 hover:text-gray-500">
        <span class="sr-only">YouTube</span>
        <svg class="h-6 w-6" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true">
          <path fill-rule="evenodd" d="M19.812 5.418c.861.23 1.538.907 1.768 1.768C21.998 8.746 22 12 22 12s0 3.255-.418 4.814a2.504 2.504 0 0 1-1.768 1.768c-1.56.419-7.814.419-7.814.419s-6.255 0-7.814-.419a2.505 2.505 0 0 1-1.768-1.768C2 15.255 2 12 2 12s0-3.255.417-4.814a2.507 2.507 0 0 1 1.768-1.768C5.744 5 11.998 5 11.998 5s6.255 0 7.814.418ZM15.194 12 10 15V9l5.194 3Z" clip-rule="evenodd" />
        </svg>
      </a>
      <a href="https://twitter.com/thegooddocs" class="text-gray-400 hover:text-gray-500">
        <span class="sr-only">YouTube</span>
        <svg class="h-6 w-6" stroke="currentColor" viewBox="0 0 1200 1227" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path d="M714.163 519.284L1160.89 0H1055.03L667.137 450.887L357.328 0H0L468.492 681.821L0 1226.37H105.866L515.491 750.218L842.672 1226.37H1200L714.137 519.284H714.163ZM569.165 687.828L521.697 619.934L144.011 79.6944H306.615L611.412 515.685L658.88 583.579L1055.08 1150.3H892.476L569.165 687.854V687.828Z" />
        </svg>
      </a>
    </div>
    <p class="mt-10 text-center text-xs leading-5 text-gray-500">&copy;{new Date().toLocaleString("en-US", {timeZone:'UTC', year:'numeric'})} The Good Docs Project All Rights Reserved unless otherwise stated.</p>
    <p class="text-center text-xs leading-5 text-gray-500">This site is generously hosted at no cost by <a href="https://www.netlify.com/">Netlify</a>.</p>
    <p class="mt-2 text-center text-xs"><button class="mx-auto bg-gray-400 hover:bg-gray-500 text-white px-4 py-2 rounded" onclick="displayPreferenceModal()">Manage Cookie Preferences</button></p>
  </div>
</footer>
