<script>
	export let block;
</script>

<div class="bg-tgdp-blue max-w-none">
	<div class="relative isolate overflow-hidden pt-8 lg:pt-14">
		<div class="z-0">
			{#if block.video}
				<video
					src="https://tgdp-assets.imgix.net/{block.video?.filename}"
					autoplay="true"
					loop
					muted
					class="absolute inset-0 -z-20 h-full w-full object-cover"
				>
				</video>
			{:else if block.image}
				<img
					src="https://tgdp-assets.imgix.net/{block.image
						?.filename}?auto=format&fit=crop&w=2830&q=80"
					alt={block.image.alt}
					class="absolute inset-0 -z-10 h-full w-full object-cover"
				/>
			{/if}
			<div class="absolute inset-0 z-0 h-full w-full bg-tgdp-blue opacity-75"></div>
		</div>
		<div class="relative mx-auto max-w-2xl py-16 sm:py-32 lg:py-56 z-10 px-6 md:px-0">
			{#if block.cta_top}
				<div class="hidden sm:mb-8 sm:flex sm:justify-center">
					<div
						class="relative backdrop-filter backdrop-blur-md rounded-full px-3 py-1 text-sm leading-6 text-white ring-1 ring-white/10 hover:ring-white/20"
					>
						{block.cta_top?.text}&nbsp;&nbsp;<a
							href={block.cta_top?.link}
							class="font-semibold text-white"
							><span class="absolute inset-0" aria-hidden="true"></span>{block.cta_top
								?.link_text}&nbsp;<span aria-hidden="true">&rarr;</span></a
						>
					</div>
				</div>
			{/if}
			<div class="text-center">
				{#if block.title}
					<h1 class="text-4xl font-bold tracking-tight text-tgdp-sun sm:text-6xl">{block.title}</h1>
				{/if}
				{#if block.subtitle}
					<p class="mt-6 text-lg leading-8 text-gray-300">{block.subtitle}</p>
				{/if}
				{#if block.ctas}
					<div class="mt-10 flex items-center justify-center gap-x-6">
						{#each block.ctas as cta}
							<a
								href={cta.link}
								class={cta.button
									? 'rounded-md bg-tgdp-disco px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-tgdp-disco focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-tgdp-disco'
									:'text-sm font-semibold leading-6 text-white'}
							>
								{cta.link_text}
								{#if !cta.button}
									&nbsp;<span aria-hidden="true">&rarr;</span>
								{/if}
							</a>
						{/each}
					</div>
				{/if}
			</div>
		</div>
	</div>
</div>
