<script>
	import Logo from '$lib/components/Logo.svelte';
	import navMenu from '$lib/navMenu.json';
	import { fade, slide } from 'svelte/transition';
	import { cubicIn, cubicOut } from 'svelte/easing';

	let showMobileNav;
	let openDropdown = '';

	export function clickOutside(node) {
		const handleClick = (event) => {
			if (
				!node.contains(event.target) &&
				event.target.innerText.toLowerCase() != node.parentElement.id
			) {
				node.dispatchEvent(new CustomEvent('outclick'));
			}
		};
		document.addEventListener('click', handleClick, true);
		return {
			destroy() {
				document.removeEventListener('click', handleClick, true);
			}
		};
	}

	function handleEscape({ key }) {
		if (key === 'Escape') {
			openDropdown = '';
		}
	}
</script>

<svelte:window on:keyup={handleEscape} />

<header class="bg-tgdp-blue w-full relative z-50">
  <nav class="flex items-center justify-between p-6 lg:px-8" aria-label="Global">
    <div class="flex lg:flex-1">
      <a data-sveltekit-reload href="/" class="-m-1.5 p-1.5 flex flex-row items-center">
        <Logo width="38" height="32" />
        <span class="text-white pl-4 text-md md:text-lg font-bold">The Good Docs Project</span>
      </a>
    </div>
    <div class="flex lg:hidden">
      <button
        type="button"
        on:click={() => (showMobileNav = !showMobileNav)}
        class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-gray-400"
      >
        <span class="sr-only">Open main menu</span>
        <svg
          class="h-6 w-6"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          aria-hidden="true"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"
          />
        </svg>
      </button>
    </div>
    <div class="hidden lg:flex lg:gap-x-8">
      {#each navMenu.top as item}
        {#if item.subnav}
          <div class="relative" 
            use:clickOutside
            on:outclick={() => (openDropdown = '')}
          >
            <button
              type="button"
              on:click={() => openDropdown == item.key?(openDropdown = ''):(openDropdown = item.key)}
              class="flex flex-row items-center "
              aria-expanded={openDropdown == item.key}
            >
              <span class="block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-white hover:bg-tgdp-disco whitespace-nowrap">{item.text}</span>
              <svg
                class="ml-1 h-5 w-5 text-gray-200 {openDropdown == item.key
                  ? 'rotate-180'
                  : 'text-gray-200'}"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
                fill="currentColor"
                aria-hidden="true"
              >
                <path
                  fill-rule="evenodd"
                  d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                  clip-rule="evenodd"
                />
              </svg>
            </button>
            {#if openDropdown == item.key}
              <ul
                id={item.key}
                class="absolute top-12 right-0 p-4 z-50 bg-tgdp-blue rounded-lg border border-white shadow-lg flex flex-col space-y-2"
                in:slide={{ duration: 250, easing: cubicOut }}
                out:slide={{ duration: 150, easing: cubicIn }}
              >
                {#each item.subnav as link}
                  <li class="w-full">
                    <a data-sveltekit-reload
                      on:click={() => (openDropdown = '')}
                      href={link.url}
                      class="block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-white hover:bg-tgdp-disco whitespace-nowrap"
                      >{link.text}</a
                    >
                  </li>
                {/each}
              </ul>
            {/if}
          </div>
        {:else}
          <a data-sveltekit-reload href={item.url} class="block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-white hover:bg-tgdp-disco whitespace-nowrap">{item.text}</a>
        {/if}
      {/each}
    </div>
  </nav>
  <!-- Mobile menu, show/hide based on menu open state. -->
  <div class={showMobileNav ? 'block' : 'hidden'} role="dialog" aria-modal="true">
    <!-- Background backdrop, show/hide based on slide-over state. -->
    <div class="fixed inset-0 z-50"></div>
    <div
      class="fixed inset-y-0 right-0 z-50 w-full overflow-y-scroll bg-tgdp-blue px-6 py-6 sm:max-w-xs sm:ring-1 sm:ring-white/10"
    >
      <div class="flex items-center justify-between">
        <a data-sveltekit-reload href="/" class="-m-1.5 p-1.5">
          <span class="sr-only">The Good Docs Project</span>
          <Logo width="38" height="32" />
        </a>
        <button
          type="button"
          on:click={() => (showMobileNav = !showMobileNav)}
          class="-m-2.5 rounded-md p-2.5 text-gray-400"
        >
          <span class="sr-only">Close menu</span>
          <svg
            class="h-6 w-6"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            aria-hidden="true"
          >
            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
          </svg>
        </button>
      </div>
      <div class="mt-6 flow-root">
        <div class="-my-6 divide-y divide-gray-500/25">
          <div class="space-y-2 py-6 flex flex-col">
            {#each navMenu.top as item}
              {#if item.subnav}
                <div class="relative flex flex-col items-start">
                    <span class="flex flex-row items-center -mx-3 rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-100" >
                      {item.text}
                      <svg
                        class="ml-2 h-5 w-5 text-gray-400"
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 20 20"
                        fill="currentColor"
                        aria-hidden="true"
                      >
                        <path
                          fill-rule="evenodd"
                          d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                          clip-rule="evenodd"
                        />
                      </svg>                        
                    </span>
                    <ul class="pt-2 px-4 w-full">
                      {#each item.subnav as link}
                        <li class="w-full">
                          <a data-sveltekit-reload
                            on:click={() => (showMobileNav = !showMobileNav)}
                            href={link.url}
                            class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-white hover:bg-tgdp-disco"
                            >{link.text}</a
                          >
                        </li>
                      {/each}
                    </ul>
                </div>
              {:else}
                <a data-sveltekit-reload href={item.url}
                  on:click={() => (showMobileNav = !showMobileNav)}
                  class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-white hover:bg-tgdp-disco"
                >
                {item.text}
                </a>
              {/if}
            {/each}
          </div>
        </div>
      </div>
    </div>
  </div>
</header>