<script>
  export let block;
  // Icon SVG code can come from sites like: https://tabler.io/icons or https://heroicons.com
</script>
<div class="py-32">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto max-w-2xl lg:mx-0">
      <h2 class="text-3xl font-bold tracking-tight text-tgdp-blue sm:text-4xl">{block.title}</h2>
      {#if block.text}
      <p class="mt-6 text-lg leading-8 text-gray-600">{block.text}</p>
      {/if}
    </div>
    <div class="mx-auto mt-16 max-w-2xl sm:mt-20 lg:mt-24 lg:max-w-none">
      <dl class="grid max-w-xl grid-cols-1 gap-x-8 gap-y-16 lg:max-w-none lg:grid-cols-3">
        {#each block.cols as col}
        <div class="flex flex-col">
          <dt class="text-base font-semibold leading-7 text-{col.icon.color}">
            <div class="mb-6 flex h-10 w-10 items-center justify-center rounded-lg bg-{col.icon.background}">
              {@html col.icon.code}
            </div>
            <span class="text-tgdp-blue uppercase">{col.title}</span>
          </dt>
          <dd class="mt-1 flex flex-auto flex-col text-base leading-7 text-gray-600">
            <p class="flex-auto">{col.text}</p>
            {#if col.cta}
            <div class="mt-6">
                <a
                  href={col.cta.link}
                  class={col.cta.button
                    ? 'inline-flex rounded-md bg-tgdp-eastern-blue px-3.5 py-2.5 text-sm font-semibold text-white hover:text-tgdp-blue shadow-sm hover:bg-tgdp-eastern-blue/50 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-white'
                    :'text-sm font-semibold leading-6 text-tgdp-blue'}
                >
                  {col.cta.link_text}
                  {#if !col.cta.button}
                    &nbsp;<span aria-hidden="true">&rarr;</span>
                  {/if}
                </a>
            </div>
            {/if}
          </dd>
        </div>
        {/each}
      </dl>
    </div>
  </div>
</div>
