<script>
  export let block
</script>

<nav class=" bg-tgdp-disco w-full relative flex flex-row items-center justify-end py-4 px-8 gap-x-12">
  {#each block.items as item}
  <a href="{item.url}" class="text-sm font-semibold leading-6 text-white">{item.text}</a>
  {/each}
</nav>